*.suo
/Software/optimal-packaging-approximation-by-simple-objects/100Balls_3dFixRad+UnfixedWithTransitionPolihydronWithHoles(NгруппПоKшаровСфиксированымПотомУлучшаемПеременнымиИУпаковываемВнешние)/TestProblemIpOpt.v12.suo
/Software/optimal-packaging-approximation-by-simple-objects/100Balls_3dFixRad+UnfixedWithTransitionPolihydronWithHoles(NгруппПоKшаровСфиксированымПотомУлучшаемПеременнымиИУпаковываемВнешние)/TestProblemIpOpt/App.config
