/ShitCode/3dFRad/FixedRadius/.vs
/ShitCode/3dFRad/FixedRadius/TestProblemIpOpt/bin
/ShitCode/3dFRad/FixedRadius/TestProblemIpOpt/obj
/ShitCode/3d_with_weight_in_targetF/FixedRadius/.vs
/ShitCode/3d_with_weight_in_targetF/FixedRadius/TestProblemIpOpt/obj
/ShitCode/3d_with_weight_in_targetF/FixedRadius/TestProblemIpOpt/bin
/100Balls_3dFixRad+UnfixedWithTransitionPolihydronWithHoles(NгруппПоKшаровСфиксированымПотомУлучшаемПеременнымиИУпаковываемВнешние)/.vs
obj
bin
Debug
Release
.vs
